/* reloge generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Comfortaa", sans-serif;
    font-size: 12px;
}

/* font 

.comfortaa-<uniquifier> {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  */

/* regole contenuto main */
main {
    margin: 50px 0;
}

.main-container {
  width: 80%;
  margin: 0 auto;
}

h1 {
    color: rgb(255, 130, 151);
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: center;
}

.row {
    display: flex;
  flex-wrap: wrap;
}

.col {
  width: calc((100% / 3) - (20px / 3));
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*  regole card member */
.card {
    display: flex;
    width: 360px;
    height: 100px;
    background-color: black;
}

.card-img img {
    height: 100px;
}

.card-content {
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: lightskyblue;
}


/* tablet */
 @media screen and (max-width:768px) {

    .main-container {
        width: 70%;
    }

    .col {
        width: 100%;
    }

 }